#demo-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  padding: 10px;
  color: cyan;
}
a:link,
a:visited,
a:hover,
a:active {
  color: rgb(70, 247, 70);
  text-decoration: none;
}
a:hover,
a:active {
  color: cyan;
}
